doctype html
html(lang='en')
  head
    title Movie Findr
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/css/style.css')
  body
    nav.navbar.navbar-light.bg-light
      img.d-inline-block.align-top(src="/img/movie.png", alt="",width="50", heigt="50")
      ul.nav.navbar-nav.navbar-right
        form#favourite.form-inline
          button.btn.btn-outline-success.navbar-btn(type="submit" name="fav") My Favourites
    .container
      .jumbotron.jumbotron-fluid
        h4.display-3.text-center.moviesTitle Movies Search
        form.form-inline
          input#searchWord.form-control.input-lg.mr-sm-2.search(type='search', placeholder='Type the movie...', aria-label='Search',size="43")
          button#searchBtn.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
      div#contentPanel.row
      div#viewPanel.row
      // Optional JavaScript
      // jQuery first, then Popper.js, then Bootstrap JS
      script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', crossorigin='anonymous')
      script(type="text/javascript", src="/js/jquery.js")
      script(type="text/javascript", src="/js/main.js")
